// Vditor 编辑器全局样式调整（暗色主题适配）
.vditor {
  @apply border-none;

  pre {
    @apply dark:bg-zinc-950 !important;
  }
}

.vditor-toolbar {
  @apply border-b bg-transparent !px-4 h-12 flex items-center justify-center;

  .vditor-toolbar__item {
    @apply h-9 w-9 flex items-center justify-center;

    svg {
      @apply size-4;
    }

    .vditor-tooltipped {
      @apply p-0;
    }
  }

  .bottom {
    .vditor-hint {
      top: 40px;
    }
  }
}

.vditor--dark .vditor-reset {
  h1, h2, h3, h4, h5, h6, p, span, li {
    @apply text-zinc-100 !important;
  }
}

.vditor-counter {
  display: none;
}

// Vditor CSS 变量定义（主题支持）
.vditor {
  --border-color: rgb(228, 228, 231);
  --toolbar-background-color: #f6f8fa;
  --textarea-background-color: #fff;
  --textarea-text-color: #24292e;

  &--dark {
    --border-color: rgb(39, 39, 42);
    --toolbar-background-color: #000;
    --textarea-background-color: #000;
    --textarea-text-color: #d1d5da;
  }
}